/* =================================
   GLOBAL SETTINGS 
   ================================= */



  
/* font-face
   ----------------------------- */

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNovaT-Thin.eot');
    src: url('./assets/fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('./assets/fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-RegularIt.eot');
    src: url('./assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-Regular.eot');
    src: url('./assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-Light.eot');
    src: url('./assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-Light.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-LightIt.eot');
    src: url('./assets/fonts/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-LightIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-Semibold.eot');
    src: url('./assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-Bold.eot');
    src: url('./assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-Extrabld.eot');
    src: url('./assets/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-Black.eot');
    src: url('./assets/fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-Black.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-SemiboldIt.eot');
    src: url('./assets/fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-BoldIt.eot');
    src: url('./assets/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./assets/fonts/ProximaNova-RegularIt.eot');
    src: url('./assets/fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
        url('./assets/fonts/ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Body
   ----------------------------- */

   .v-content {
        background-color: #F4F6F8;
        background-color: #F4F4F4;
        /* background-color: #FaFaFa; */
   }

/* Text
   ----------------------------- */


   .font-align-left {
    text-align: left;
   }

   .font-align-right {
    text-align: right;
   }

   .font-align-center {
    text-align: center;
   }

   .headline {
     font-size: 24px;
   }

   .title{
     font-weight: 300!important;
   }

   /* Navigation
   ----------------------------- */
   .v-bottom-nav {
    .v-btn--active .v-btn__content {
      font-size: 10px !important;
     }
    .v-btn .v-btn__content {
      font-size: 10px !important;
    }
    .v-btn {
      opacity: 0.3 !important;
      min-width: 60px !important;
    }
    .v-btn--active {
      opacity: 1 !important;
    }
   }

   .userBottomNav {
     img {
       margin-bottom: 3px;
     }
   }

   /* Input
   ----------------------------- */

   .theme--light .v-text-field--outline .v-input__slot {
    border: 0px solid rgba(0,0,0,.54) !important;
    background-color: #FFFFFF !important;
   }
  
   .v-input__slot .primary--text {
    color: #000 !important;
   }


/* elevation
   ----------------------------- */
  
   .elevation-box-1 {
      box-shadow: 
        0 1px 2px 0 rgba(0, 0, 0, .12)!important

   }

/* Data tables
   ----------------------------- */
   
   .dataTableRounded {
    border-radius: 4px;
      .v-table {
        border-radius: 4px;
      }
      .v-datatable__actions {
        border-radius: 0 0 4px 4px;
      }
   }

/* Cards
   ----------------------------- */

   .v-card {
    border-radius: 4px !important;
   }
   .v-card-padding{
     padding: 20px;
   }

   
/* Lists
   ----------------------------- */

   .v-list {
    border-radius: 4px;
   }

   .background-none{
     background: none !important;
   }


/* Dialog
   ----------------------------- */

   .v-dialog .v-toolbar {
    border-radius: 0px !important;
   }

   .v-dialog-nude {
    box-shadow: none !important;
   }

   .v-dialog-light {
     color: #FFFFFF;
   }

   .v-overlay--active:before {
    opacity: .80 !important;
    }

    .v-dialog--fullscreen {
      .v-toolbar {
        box-shadow: 0 1px 0px 0px rgba(0, 0, 0, .1);
        background-color: #FFFFFF !important;
      }
      .v-card{ 
        background-color: #f4f4f4 !important;
      }
      
    }


/* Topbar
   ----------------------------- */
   
   
   .signupflow .v-toolbar {
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, .1);
    background-color: #FFFFFF !important;
  }

  .v-toolbar__title {
    font-weight: 600 !important;
    }







/* Views
   ----------------------------- */

.ViewHeader {
  margin: 5px 0 30px 0;
  .headline {
    font-size: 24px !important;
    font-weight: 500;
  }
}

/* Auth
   ----------------------------- */

.logo{
  padding: 40px 0;
}


/* Sign up
   ----------------------------- */

.signup-header {
  padding: 40px 0;
}

.signupflow .v-progress-linear {
  margin: 0;
  position: fixed;
  display: none;
}

/* Icons
   ----------------------------- */
  .icon-white {
    color: #ffffff !important;
  }

